body {
  margin: 0;
  background-image: url(pink.jpeg);
}

h2 {
  margin-left: 20px;
}

.flex-container {
  display: flex;
  flex-direction : row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 350px;
}

button {
  width: 50px;
  margin: 20px 15px 20px
}

.space {
  visibility: hidden;
}

span#display {
  background-color: #FFFDD0;
  width: 305px;
  height: 30px;
  margin-left: 20px;
  display: inline-block;
  border: 1px solid black;
}